body {
  background-color: rgb(181, 209, 255)
}

#header.header {
  background-color: rgb(194, 194, 194);
  font-size: 60px;
  border: solid thick rgb(0, 0, 0);
  }

button#nav {
  background-color: rgb(255, 0, 0);
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
}

button#login {
  cursor: pointer;
  font-size: 15px;
  border-radius: 10px;
  height: 50px;
  width: 75px;
}

img#home {
  height: 50px;
  width: 50px;
}

input#navbar {
  height: 30px;
  width: 555px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

img#logo {
  height: 70px;
  width: 70px;
  float: right;
}
